<form #f="ngForm">
<label>title</label>
<input type="text" name="title" ngModel required #n="ngModel" >
<div *ngIf="n.invalid && n.touched">
name required
</div>
<label>price</label>
<input type="text" name="price" ngModel minlength="3" #t="ngModel" required>
<div *ngIf="t.invalid">
   
<div *ngIf="t.errors?.['required']">
    required
</div>
<div *ngIf="t.errors?.['minlength']">
    minlength
</div>
</div>
<label>quantity</label>
<input type="text" name="quantity" ngModel>
<label>like</label>
<input type="text" name="like" ngModel>

<input type="submit"  value="add product"  (click)="save(f.value)" [disabled]="f.invalid">
</form>
